########################################################################
#                                                                      #
# db   db  .888.  dP    88888b 888ba   .888.     d8b  db 88888b d8888P #
# 88   88 d8' `8b 88    88     88 `8b d8' `8b    88V8 88 88       88   #
# Y8   8P 88   88 88    88aa   88a8P' 88   88    88 VL88 88aa     88   #
# `8b d8' 88   88 88    88     88 `8b 88   88    88  V88 88       88   #
#  `8V8'  Y8. .8P 88    88     88 .88 Y8. .8P dP 88  `88 88       88   #
#   `Y'    `88P'  8888P 88888P 88888'  `88P'  88 VP   8P 88888P   dP   #
#                                                                      #
########################################################################
#
# Copyright (C) 2016-2026 Volebo <dev@volebo.net>
# Copyright (C) 2016-2026 Maksim Koryukov <maxkoryukov@volebo.net>
#
# This program is free software: you can redistribute it
# and/or modify it under the terms of the MIT License, attached
# to this software package.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
# You should have received a copy of the MIT License along with this
# program. If not, see <https://opensource.org/licenses/MIT>.
#
# http://spdx.org/licenses/MIT
#
########################################################################


# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab
indent_size = 4

# No TABS in YAML. Use 2 spaces
[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.json]
indent_style = tab
indent_size = 4

[*.hbs]
insert_final_newline = false

[*.{diff,md}]
trim_trailing_whitespace = false

# They have troubles with TABS. Use 2 spaces
[{bower,package,project}.json]
indent_style = space
indent_size = 2
