########################################################################
#                                                                      #
# db   db  .888.  dP    88888b 888ba   .888.     d8b  db 88888b d8888P #
# 88   88 d8' `8b 88    88     88 `8b d8' `8b    88V8 88 88       88   #
# Y8   8P 88   88 88    88aa   88a8P' 88   88    88 VL88 88aa     88   #
# `8b d8' 88   88 88    88     88 `8b 88   88    88  V88 88       88   #
#  `8V8'  Y8. .8P 88    88     88 .88 Y8. .8P dP 88  `88 88       88   #
#   `Y'    `88P'  8888P 88888P 88888'  `88P'  88 VP   8P 88888P   dP   #
#                                                                      #
########################################################################
#
# Copyright (C) 2016-2026 Volebo <dev@volebo.net>
# Copyright (C) 2016-2026 Maksim Koryukov <maxkoryukov@volebo.net>
#
# This program is free software: you can redistribute it
# and/or modify it under the terms of the MIT License, attached
# to this software package.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
# You should have received a copy of the MIT License along with this
# program. If not, see <https://opensource.org/licenses/MIT>.
#
# http://spdx.org/licenses/MIT
#
########################################################################

# =========================================
# See http://help.github.com/ignore-files/ for more about ignoring files.
# =========================================

# place per-project settings here

# generated from nyc.config:
.c8rc.json

# =========================================
# common part
# =========================================

# hmm, GLOBAL stuff
.DS_Store
thumbs.db
Thumbs.db
!.gitkeep

# tests/coverage results
tests/e2e/reports/
selenium-debug.log
coverage/
lib-cov/
.nyc_output/

# PRIVATE files
.npmrc
.node_repl_history
# local env files
.env
.env.local
.env.*.local

# parcel cache
.cache/

# dependencies
.npm
node_modules/
npm-cache/

# frameworks
.nx/cache/
.nx/workspace-data/
.serverless/
.ionic/
.sass-cache/
bower_components/

# compiled output
dist/
build/

# temporary shit
tmp/
$RECYCLE.BIN/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
log/
*.log
testem.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-project
*.sublime-workspace

# =========================================
